{% extends 'base.html' %}

{% block content %}
    <h2>Вопросы:</h2>
    <div class="div">
        {% if question_list %}
            {% for question in question_list %}
                <details class="details">
                    <summary class="sum">
                        {{ question.quest }}, (вопрос от {{ question.user }})
                    </summary>
                    <p class="p">{{ question.answer.ans }}, (ответ от
                    {{ question.answer.user }})</p>
                    <a class="a_link" href="{{ question.get_absolute_url }}">Открыть вопрос</a>
                </details>
            {% endfor %}
        {% else %}
            <p>На сайте нет вопрсов(</p>
        {% endif %}
        <p>Не нашел нужный вопрос? Тогда тебе сюда: <a class="a_link" href="{% url 'quests' %}">Все вопросы</a></p>
    </div>
{% endblock %}